

</body>
<footer>
  <hr>
  <a class="facebook px-2" href="https://www.facebook.com/AstoriaCocktailRoom/"><i class="fab fa-facebook-square"></i></a>
  <a class="instagram px-2" href="https://www.instagram.com/astoriacocktailroom/?hl=en"><i class="fab fa-instagram-square"></i></a>
  <a class="whatsapp px-2" href="https://wa.me/972504554429"><i class="fab fa-whatsapp" ></i></a>
  <p>Copyright <i class="far fa-copyright copyright"></i><%=year%></p>
</footer>
</html>
