<%- include("header") -%>

  <div>
    <img class="backgroundImage" src="images/background.jpg" alt="">

  </div>
  <div class="blackBox">
      <p class="m-1" style="color: white;"><%= dayText %> <br> <%=openHours%></p>
  </div>

  <div class="margin">
    <p>Enter the dazzling era of the 1920’s inside Astoria Cocktail Room. We’ve saved you a seat</p>
  </div>

  <%- include("footer") -%>
