<%- include("header") -%>
<div class="row">
     <div class="col-6 px-1">
       <div class="card text-center">
         <div class="card-header">
           Drink's Menu
         </div>
         <div class="card-body">
           <a href="https://raw.githubusercontent.com/ghazboun/AstoriaCocktailRoom/main/images/0002.jpg">
             <img style="width:85%; height:auto;" src="images/menu1.jpg" alt=""></a>
         </div>
       </div>
     </div>
     <div class="col-6 px-1">
       <div class="card text-center">
         <div class="card-header">
           Meal's Menu
         </div>
         <div class="card-body">
           <a href="https://raw.githubusercontent.com/ghazboun/AstoriaCocktailRoom/main/images/0001.jpg">
             <img style="width:85%; height:auto;" src="images/menu2.jpg" alt=""></a>
         </div>
       </div>
     </div>
   </div>
<%- include("footer") -%>
